<?xml version="1.0" encoding="UTF-8"?>

<sitemapindex xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
    <sitemap>
        <loc>https://james4ever0.github.io/blog.xml</loc>
    </sitemap>
    <sitemap>
        <loc>https://james4ever0.github.io/self.xml</loc>
    </sitemap>
{% for url in url_list %}
    <sitemap>
        <loc>{{url}}</loc>
    </sitemap>
{% endfor %}
</sitemapindex>